@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./deploy.css";

/* for firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary-700) rgba(0, 0, 0, 0);
}

/* for non-firefox */
::-webkit-scrollbar {
  overflow: overlay;
  width: 8px;
  /* shouldnt hardcode width, pls find way to make it dynamic, thin wasn't working for me...*/
}

::-webkit-scrollbar-track {
  display: initial;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-700);
  border-radius: 5px;
}

#__next {
  @apply w-screen h-screen scrollbar-thin scrollbar-thumb-gray-700 overflow-x-hidden;
}
